<div class="w-[720px] mx-auto">
  <div class="mb-10">
    <div class="mb-5">
      <div class="font-medium text-lg text-gray-850">Deepak Kumar</div>
      <div class="font-light text-sm text-gray-850">@deepak</div>
    </div>

    <div class="font-light text-base text-gray-700 mb-5">
      Digital product designer living and working in Bengaluru who enjoys building things. Currently leading designs at Kaleyra. Also, Barback at a cafe under construction.
    </div>

    <div class="flex flex-row radius-2 justify-between bg-gray-50 p-4 font-light text-sm text-gray-850 drop-shadow-lg">
      <div class="">Now and then, I send bite-sized notes about this and that to your inbox.</div>
      <div class="underline"><%= link_to "Subscribe", "#" %></div>
    </div>
  </div>

  <div class="font-light text-base text-gray-700 mb-5">
    This website is my digital garden.
  </div>
</div>

